<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<h1>Tasks</h1>

<ul style = "list-style-type: none">
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <input type= "checkbox" checked>
        <% else %>
        <input type= "checkbox" />
      <% end %>
      <%= link_to task.title, task_path(task) %>
      <i class="fab fa-angellist"></i>
    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>
    </li>

</ul>

<%= link_to "Add a new task", new_task_path %>
